* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;    

}

.nav-left a {
    text-decoration: none;
    color: #000;
    margin-right: 23px;
    font-display: flex;
    justify-content: flex-start;
    width: auto;
    
}

.nav-right a {
    text-decoration: none;
    color: #000;
    margin-left: 23px;
    font-display: flex;
    width: auto;
    height: auto;

    
}


.fom {
    display: flex;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 16px;
    align-items: center;
    justify-items: center;

}

.fom input {
    border: none;
    display: flex;
    justify-content: space-between;
    
}

.just {
    display: flex;
    justify-content: flex-end;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    justify-content: space-between;
    
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    font-size: 1.16rem;
}

footer {
 background: #eee;
 width: 100%;
height: 100px;
padding: 0 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.links-left, .link-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

footer p {
    text-align: center;
    padding-top: 10px;
}